body {
    padding: 5px;
    background-color: rgb(32, 29, 29);
}

.button {
    display: block;
    width: 100px;
    text-align: center;
    border: none;
    margin: 4px;
    padding: 4px;
}

.enable {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    border-right: 10px rgb(194, 40, 40) solid;
}

.disable {
    background-color: rgba(10, 10, 10, 0.479);
    color: rgb(255, 255, 255, 0.479);
}

.header {
    text-align: center;
}